@import url("../css/table.css");

/* Homepage Style */
body {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  padding: var(--spacing-large);
  display: flex;
  justify-content: center;
}

.product-grid {
  display: grid;
  grid-template-columns: 200px 200px 100px 100px 400px; /* 5 columns of fixed 200px width */
}
