@import url('../css/table.css');

/* Homepage Style */
body {
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  padding: var(--spacing-large);
  display: flex;
  justify-content: center;
}

.product-grid {
  grid-template-columns: 0.1fr 2fr 1fr 0.3fr 2.5fr;
}
