@import url("../css/table.css");

/* Homepage Style */
body {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  padding: var(--spacing-large);
  display: flex;
  justify-content: center;
}

.product-grid {
  display: grid;
  grid-template-columns: 150px 300px 150px 50px 300px; /* 5 columns of fixed 200px width */
}

.product-grid a:link,
.product-grid a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.product-grid a:hover {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}
