html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container {
    width: 680px;
    height: 342px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid none;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
}

h1 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    position: relative;
    bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 10px;
    text-align: left;
}

label {
    font-size: 13px;
    font-weight: 500;
}

input[type="text"],
input[type="password"] {
    width: 610px;
    height: 30px;
    padding: 8px 14px;
    margin-bottom: 10px;
    margin-top: 8px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 8px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #F4BC49;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #F4BC49;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}

input[type="submit"]:hover {
    background-color: #FAB427;
}


 /* Media Queries */

/* Small devices (smartphones, portrait) */
@media (max-width: 480px) {
    .login-container {
        width: 90%;
        height: auto;
        padding: 15px;
    }
    h1 {
        font-size: 24px;
    }
    input[type="text"],
    input[type="password"] {
        width: 92%;
        height: 40px;
    }
    input[type="submit"] {
        padding: 12px;
        font-size: 14px;
    }
}

/* Medium devices (smartphones, landscape) */
@media (min-width: 481px) and (max-width: 767px) {
    .login-container {
        width: 80%;
        height: auto;
        padding: 15px;
    }
    h1 {
        font-size: 28px;
    }
    input[type="text"],
    input[type="password"] {
        width: 92%;
        height: 40px;
    }
    input[type="submit"] {
        padding: 12px;
        font-size: 14px;
    }
}

/* Tablets (portrait) */
@media (min-width: 768px) and (max-width: 1023px) {
    .login-container {
        width: 70%;
        height: auto;
        padding: 20px;
    }
    h1 {
        font-size: 30px;
    }
    input[type="text"],
    input[type="password"] {
        width: 95%;
        height: 40px;
    }
    input[type="submit"] {
        padding: 12px;
        font-size: 15px;
    }
}

/* Tablets (landscape) */
@media (min-width: 1024px) and (max-width: 1279px) {
    .login-container {
        width: 60%;
        height: auto;
        padding: 20px;
    }
    h1 {
        font-size: 32px;
    }
    input[type="text"],
    input[type="password"] {
        width: 95%;
        height: 40px;
    }
    input[type="submit"] {
        padding: 12px;
        font-size: 16px;
    }
}

/* Small laptops and desktops */
@media (min-width: 1280px) and (max-width: 1366px) {
    .login-container {
        width: 50%;
        height: auto;
        padding: 20px;
    }
    h1 {
        font-size: 32px;
    }
    input[type="text"],
    input[type="password"] {
        width: 95%;
        height: 40px;
    }
    input[type="submit"] {
        padding: 12px;
        font-size: 16px;
    }
}

/* Larger laptops and desktops */
@media (min-width: 1367px) and (max-width: 1920px) {
    .login-container {
        width: 40%;
        height: auto;
        padding: 20px;
    }
    h1 {
        font-size: 32px;
    }
    input[type="text"],
    input[type="password"] {
        width: 95%;
        height: 40px;
    }
    input[type="submit"] {
        padding: 12px;
        font-size: 16px;
    }
}

/* Ultra-wide and 4K screens */
@media (min-width: 1921px) {
    .login-container {
        width: 30%;
        height: auto;
        padding: 20px;
    }
    h1 {
        font-size: 32px;
    }
    input[type="text"],
    input[type="password"] {
        width: 95%;
        height: 40px;
    }
    input[type="submit"] {
        padding: 12px;
        font-size: 16px;
    }
}