/* Product Style */
body {
     background-image: url("../img/background.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
   }
   
   main {
     padding: var(--spacing-large);
     display: flex;
     justify-content: center;
   }
   
   .cart-list {
     background-color: var(--color-background);
     padding: var(--spacing-large);
     border-radius: 10px;
     box-shadow: var(--box-shadow-default);
     width: 100%;
     max-width: 1804px;
   }
   
   .product-grid {
     display: grid;
     grid-template-columns: 1fr 2fr; 
     gap: 1rem; 
     align-items: start;
   }
   
   .product-image {
     width: 314px;
     height: 301px;
     background-color: var(--color-dark);
     border-radius: var(--border-radius-medium);
   }
   
   .product-details {
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
   }
   
   .product-title,
   .product-category,
   .product-description,
   .product-rate {
     margin: 0.5rem 0;
     color: var(--color-primary-main2);
   }
   
   .category {
     text-align: left;
     font-size: var(--font-size-medium);
     font-weight: 400;
     color: var(--color-background-full);
     background-color: var(--color-secondary);
     border: var(--border-none);
     border-radius: 1.38rem;
     padding: var(--spacing-small) 1rem;
   }
   
   .product-title {
     font-weight: 700;
     font-size: var(--font-size-xxlarge);
   }
   
   .product-description {
     font-weight: 500;
     font-size: var(--font-size-large);
   }
   
   .product-rate {
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: var(--color-text-secondary);
     font-size: var(--font-size-large);
   }
   
   .rate-info {
     display: flex;
     gap: var(--spacing-small);
   }
   
   .rate {
     color: var(--color-primary-main2);
     font-weight: 700;
   }
   
   .cart {
     font-size: var(--font-size-medium);
     font-weight: 400;
     color: var(--color-background-full);
     background-color: var(--color-secondary);
     border: var(--border-none);
     border-radius: var(--border-radius-large);
     margin-right: 16px;
     padding: 5px 8px 12px 12px;
   }
   
   .plus {
     position: relative;
     top: 6px;
   }
   
   .cart:hover {
     background-color: var(--color-primary);
}